<div id="welcome-container">
  <div id="welcome-block-one">
    <script type="text/jsx">
    var chrisTest = React.createClass({

      render: function(){
          return (
            <h2>My Name is Chris</h2>
          );
      }

      React.render(<chrisTest />, $('#welcome-block-one'));
    });
    </script>
  </div>
  <div id="welcome-block-two">
    <h1>B</h1>
  </div>
  <div id="welcome-block-three">
    <h1>C</h1>
  </div>
  <div id="welcome-block-four">
    <h1>D</h1>
  </div>
</div>
