<div id="main">
</div>

<!--  introduction to the site stuff below -->

<script type="text/template" id='appViewTemplate'>
    <div class="selection-type">
      <p>Test</p>
    </div>
</script>

<script type="text/template" id='appNoteViewTemplate'>

    <div id="notes">
      <div class="new-note-container">
        <div class="new-note" contenteditable="true"></div>
      </div>
      <ul class="notes-list">
      </ul>
    </div>
</script>
