<div id="main">
</div>

<!--  introduction to the site stuff below -->

<script type="text/template" id='appViewTemplate'>
    <div class="selection-type">
      <p>Test</p>
    </div>
</script>

<script type="text/template" id='appNoteViewTemplate'>
  <div class="new-note-container">
    <button id="new-note">New Note</button>
  </div>
    <div id="notes">
      <ul class="notes-list">
      </ul>
    </div>
</script>
