// Place all the styles related to the Note controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notes {
  text-align: center;
}

#note-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.6);
}


.note {
  vertical-align: top;
  width: 250px;
  height: 250px;
  min-width: 250px;
  min-height: 250px;
  display: inline-block;
  overflow: hidden;
  border: 0px solid #FFC8C8;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.14);
  background-color: #FFF27D;
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  border-radius: 2px;
}

.noteOverlay {
 margin: 0px !important;
 position: fixed !important;
 left: 50%;
 top: 50%;
 z-index: 999999999999;
 transform: translate(-50%, -50%);
 -webkit-transition: width 1s ease-in-out;
 -moz-transition: width 1s ease-in-out;
 -o-transition: width 1s ease-in-out;
 transition: width 1s ease-in-out;
 width: 75%;
 height: 75%;
}

.notes-list {
  padding: 0px;
}

#new-note{
  width: 200px;
  height: 30px;
  background-color: #F44336;
  border: 0px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.41);
  border-radius: 4px;
  color: rgb(255, 238, 238);
  font-size: 14pt;
  font-family: roboto;
  &:hover{
    margin-left: 2px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.41);
  }
}

.new-note-container {
  width: 100%;
  height: 50px;
  margin-top: -10px;
  background-color: white;
  text-align: center;
  padding-top: 10px;
}

.note-draggable-area {
  width: 100%;
  height: 25px;
  background-color: #FFF27D;
}

.note-options-area {
  width: 100%;
  height: 25px;
  position: relative;
}

.note-details {
  height: auto;
  padding: 20px;
}

.glyphicon-align-justify {
  margin-right: 5px;
  margin-top: 5px;
}


.note-translate {
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    color: #F44336;
    cursor: pointer;
  }
}

.note-color {
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    color: #F44336;
    cursor: pointer;
  }
}

.note-delete {
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    color: #F44336;
    cursor: pointer;
  }
}

.note-edit {
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    color: #F44336;
    cursor: pointer;
  }
}

.fa {
    font-size: 15pt;
    vertical-align: middle;
}

.fa-times {
  margin-top: 5px;
  margin-right: 5px;
}


.note-title-container {
  outline: none;
  font-size: 12pt
}

.note-category-container {
  outline: none;
  font-size: 12pt
}

.note-content-container {
  outline: none;
  font-size: 12pt
}


.note-title-container[contentEditable=true]:empty:before {
  content: 'Title';
  font-size: 12pt;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.42);
}

.note-title-container:empty:before {
  content: 'Title';
  font-size: 12pt;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.42);
}

.note-category-container[contentEditable=true]:empty:before {
  content: 'Category';
  font-size: 12pt;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.42);
}

.note-category-container:empty:before {
  content: 'Category';
  font-size: 12pt;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.42);
}

.note-content-container[contentEditable=true]:empty:before {
  content: 'Note';
  font-size: 12pt;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.42);
}

.note-content-container:empty:before {
  content: 'Note';
  font-size: 12pt;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.42);
}


.large-note-details {
  text-align: center;
  font-size: 16pt;
  .note-edit-options {
    margin-bottom: 20px;
  }
}

.note-current-language, .note-target-language{
  outline: none;
  background-color: rgba(255, 235, 59, 0);
  border: none;
  font-size: 14pt;
  border: 2px solid;
   margin: 5px;
}

.returnOptions {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: 2px;
  border-radius: 1px;
  .glyphicon-arrow-down{
    margin-top: -1px;
    color: #656565;
  }
}


.colorOne {
 width: 14px;
 height: 14px;
 background-color: #FF786E;
 display: inline-block;
 margin: 2px;
 border-radius: 2px;
 box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.46);
 &:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
 }
}
.colorTwo {
  width: 14px;
  height: 14px;
  background-color: #5EB8FF;
  display: inline-block;
  margin: 2px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.46);
  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
}
.colorThree {
  width: 14px;
  height: 14px;
  background-color: #76CA79;
  display: inline-block;
  margin: 2px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.46);
  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
}
.colorFour {
  width: 14px;
  height: 14px;
  margin: 2px;
  background-color: #B58BFF;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.46);
  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
}
.colorFive {
  width: 14px;
  height: 14px;
  margin: 2px;
  background-color: #FFF27D;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.46);
  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
}
.colorSix {
  width: 14px;
  height: 14px;
  margin: 2px;
  background-color: #FF9800;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.46);
  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
}


.note-edit-options {
  height: 25px;
  width: 100%;
}

.note-color-options {
  height: 25px;
  width: 100%;
}

.note-color-options-shift {
  margin-top: -25px;
  transition-delay: 0.3s;
  transition-timing-function: linear;
  position: relative;
}
