
#welcome-container {
  padding: 30px;
  height: auto;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.32);
  padding-top: 82px;
}

#welcome-block-one {
  height: 100vh;
  background-repeat: no-repeat;
  padding: 30px;
}


#welcome-block-two {
  height: 100vh;
  background-repeat: no-repeat;
  padding: 30px;
}

#welcome-block-three {
  height: 100vh;
  background-repeat: no-repeat;
  padding: 30px;
}

#welcome-block-four {
  height: 100vh;
  background-repeat: no-repeat;
  padding: 30px;
}
